html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: none;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

/* Mobile optimizations */
@media (max-width: 768px) {
  body {
    -webkit-touch-callout: none;
  }
  
  canvas {
    width: 100vw;
    height: 100vh;
  }
}
